flows.json
[
    {
        "id": "cc6838a177c7342d",
        "type": "tab",
        "label": "Comunicación SNMP",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "dff60124d5ffe814",
        "type": "tab",
        "label": "Comunicación MODBUS",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "793151554c09c1fc",
        "type": "tab",
        "label": "Base de Datos GENERAL",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3a08c4b74583061b",
        "type": "tab",
        "label": "DASHBOARD ",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "854b8ec8c22a4780",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8880d363.148ac",
        "type": "ui_group",
        "name": "Usuarios",
        "tab": "9453c97445ddeae5",
        "order": 2,
        "disp": false,
        "width": "19",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a844720c.608d6",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "ecent_db",
        "tz": "",
        "charset": ""
    },
    {
        "id": "e0e7f6b3a1435cd3",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "32ba53bb61634871",
        "type": "ui_tab",
        "name": "Gestión de Usuraios",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "2f5241148c83dad3",
        "type": "ui_tab",
        "name": "Gestión de dispositivos",
        "icon": "",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "9453c97445ddeae5",
        "type": "ui_tab",
        "name": "Dashboard",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "f5593a50b71e940e",
        "type": "ui_group",
        "name": "TABLE",
        "tab": "32ba53bb61634871",
        "order": 1,
        "disp": false,
        "width": 13,
        "collapse": false,
        "className": ""
    },
    {
        "id": "edcf9a7bf066cd27",
        "type": "ui_group",
        "name": "lista_dispositivos",
        "tab": "2f5241148c83dad3",
        "order": 2,
        "disp": true,
        "width": "10",
        "collapse": true,
        "className": ""
    },
    {
        "id": "30b0fec615e802a3",
        "type": "ui_group",
        "name": "AGREGAR_DISPOSITIVOS",
        "tab": "2f5241148c83dad3",
        "order": 2,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "52e58177bcac8732",
        "type": "ui_tab",
        "name": "ECENT_LOGIN",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "fae35d82aba33488",
        "type": "ui_group",
        "name": "LOGIN",
        "tab": "52e58177bcac8732",
        "order": 1,
        "disp": true,
        "width": 28,
        "collapse": false,
        "className": ""
    },
    {
        "id": "ae2ca8465afadc66",
        "type": "ui_group",
        "name": "FORM",
        "tab": "32ba53bb61634871",
        "order": 2,
        "disp": false,
        "width": "7",
        "collapse": false,
        "className": ""
    },
    {
        "id": "75c5f1c6.56241",
        "type": "snmp",
        "z": "cc6838a177c7342d",
        "host": "192.168.0.100",
        "version": "2c",
        "timeout": "",
        "community": "public",
        "auth": "noAuthNoPriv",
        "oids": "1.3.6.1.2.1.1.1.0",
        "name": "DESCRIPCIÓN DEL SYSTEMA",
        "x": 310,
        "y": 100,
        "wires": [
            [
                "745075e8deea71c2"
            ]
        ]
    },
    {
        "id": "e5a4f80b.8bfa38",
        "type": "inject",
        "z": "cc6838a177c7342d",
        "name": "Test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 91.00001525878906,
        "y": 100,
        "wires": [
            [
                "75c5f1c6.56241"
            ]
        ]
    },
    {
        "id": "d085f9e6.016858",
        "type": "debug",
        "z": "cc6838a177c7342d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 100,
        "wires": []
    },
    {
        "id": "9ff12da9.82a26",
        "type": "inject",
        "z": "cc6838a177c7342d",
        "name": "Test",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "",
        "payloadType": "none",
        "x": 76,
        "y": 161,
        "wires": [
            [
                "ff62d996.816d78"
            ]
        ]
    },
    {
        "id": "867ded10.3458c",
        "type": "debug",
        "z": "cc6838a177c7342d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 490.9999237060547,
        "y": 161,
        "wires": []
    },
    {
        "id": "ff62d996.816d78",
        "type": "snmp",
        "z": "cc6838a177c7342d",
        "host": "192.168.0.100",
        "version": "2c",
        "timeout": "",
        "community": "public",
        "auth": "noAuthNoPriv",
        "oids": "1.3.6.1.2.1.2.2.1.8.1,\n1.3.6.1.2.1.2.2.1.8.2,\n1.3.6.1.2.1.2.2.1.8.3,\n1.3.6.1.2.1.2.2.1.8.4,\n1.3.6.1.2.1.2.2.1.8.5,\n1.3.6.1.2.1.2.2.1.8.6,\n1.3.6.1.2.1.2.2.1.8.7,\n1.3.6.1.2.1.2.2.1.8.8",
        "name": "Port status 1-8 (table ok)",
        "x": 278.9999694824219,
        "y": 161,
        "wires": [
            [
                "867ded10.3458c"
            ]
        ]
    },
    {
        "id": "21b3235e.e5379c",
        "type": "comment",
        "z": "cc6838a177c7342d",
        "name": "net-snmp",
        "info": "",
        "x": 231.9999542236328,
        "y": 15,
        "wires": []
    },
    {
        "id": "947eb302.1f486",
        "type": "comment",
        "z": "cc6838a177c7342d",
        "name": "TERMINADO",
        "info": "",
        "x": 243.9999542236328,
        "y": 54,
        "wires": []
    },
    {
        "id": "68d042a.123f7bc",
        "type": "snmp subtree",
        "z": "cc6838a177c7342d",
        "host": "192.168.0.100",
        "version": "2c",
        "timeout": "",
        "community": "public",
        "auth": "noAuthNoPriv",
        "oids": "1.3.6.1.2.1.2.2.1.8",
        "name": "Subtree",
        "x": 240,
        "y": 560,
        "wires": [
            [
                "209eddb8.540ba2"
            ]
        ]
    },
    {
        "id": "397962ad.644eee",
        "type": "inject",
        "z": "cc6838a177c7342d",
        "name": "Test",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "",
        "payloadType": "none",
        "x": 72,
        "y": 559,
        "wires": [
            [
                "68d042a.123f7bc"
            ]
        ]
    },
    {
        "id": "209eddb8.540ba2",
        "type": "debug",
        "z": "cc6838a177c7342d",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 508.99998474121094,
        "y": 557,
        "wires": []
    },
    {
        "id": "93ab7e15.044be",
        "type": "comment",
        "z": "cc6838a177c7342d",
        "name": "SYSTEMA",
        "info": "descripción del switch\n",
        "x": 1160,
        "y": 100,
        "wires": []
    },
    {
        "id": "6fc78485.5f542c",
        "type": "comment",
        "z": "cc6838a177c7342d",
        "name": "Subtree",
        "info": "Faster to use than multiple single \nrequests.\n",
        "x": 748,
        "y": 560,
        "wires": []
    },
    {
        "id": "f02e6eb2b0ae37ac",
        "type": "snmp table",
        "z": "cc6838a177c7342d",
        "host": "192.168.0.100",
        "version": "2c",
        "timeout": "20",
        "community": "public",
        "auth": "noAuthNoPriv",
        "authprot": "MD5",
        "privprot": "DES",
        "oids": "1.3.6.1.2.1.1.1",
        "name": "",
        "x": 290,
        "y": 380,
        "wires": [
            [
                "b829a91b1ca2580b"
            ]
        ]
    },
    {
        "id": "47dd075ff8780ec1",
        "type": "snmp walker",
        "z": "cc6838a177c7342d",
        "host": "192.168.0.100",
        "version": "2c",
        "timeout": "10",
        "community": "public",
        "auth": "noAuthNoPriv",
        "authprot": "MD5",
        "privprot": "DES",
        "oids": "1.3",
        "name": "",
        "x": 300,
        "y": 440,
        "wires": [
            [
                "6fdf5bfbc16dea37"
            ]
        ]
    },
    {
        "id": "5e685a8fbb7e1a7b",
        "type": "inject",
        "z": "cc6838a177c7342d",
        "name": "Test",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "",
        "payloadType": "none",
        "x": 70,
        "y": 380,
        "wires": [
            [
                "f02e6eb2b0ae37ac"
            ]
        ]
    },
    {
        "id": "64ddd976da6d61f5",
        "type": "inject",
        "z": "cc6838a177c7342d",
        "name": "Test",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "",
        "payloadType": "none",
        "x": 70,
        "y": 440,
        "wires": [
            [
                "47dd075ff8780ec1"
            ]
        ]
    },
    {
        "id": "b829a91b1ca2580b",
        "type": "debug",
        "z": "cc6838a177c7342d",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 380,
        "wires": []
    },
    {
        "id": "6fdf5bfbc16dea37",
        "type": "debug",
        "z": "cc6838a177c7342d",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 440,
        "wires": []
    },
    {
        "id": "745075e8deea71c2",
        "type": "function",
        "z": "cc6838a177c7342d",
        "name": "convertidor buffer to string",
        "func": "var datos = msg.payload[0].value;\nvar datos_cambiados = datos.toString();\nmsg.payload[0].value = datos_cambiados;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 100,
        "wires": [
            [
                "d085f9e6.016858",
                "53bf7ff10e25a1b3"
            ]
        ]
    },
    {
        "id": "b706e6bb4e8c9f31",
        "type": "comment",
        "z": "cc6838a177c7342d",
        "name": "VERIFICACIÓN DE PUERTOS",
        "info": "si value == 2\n    # no hay equipos conectados en el puerto\nsi value == 1\n    # hay equipos concados al puerto\n",
        "x": 810,
        "y": 160,
        "wires": []
    },
    {
        "id": "beaddfdd.d8557",
        "type": "inject",
        "z": "cc6838a177c7342d",
        "name": "Test",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "",
        "payloadType": "none",
        "x": 67,
        "y": 614,
        "wires": [
            [
                "9251c612.173468"
            ]
        ]
    },
    {
        "id": "9251c612.173468",
        "type": "snmp walker",
        "z": "cc6838a177c7342d",
        "host": "192.168.0.100",
        "version": "2c",
        "timeout": "10",
        "community": "public",
        "auth": "noAuthNoPriv",
        "oids": "1.3.6.1.2.1.2.2.1.8",
        "name": "Walker",
        "x": 253.00001525878906,
        "y": 614,
        "wires": [
            [
                "bc259f1e.7e5ea"
            ]
        ]
    },
    {
        "id": "bc259f1e.7e5ea",
        "type": "debug",
        "z": "cc6838a177c7342d",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 503.99998474121094,
        "y": 612,
        "wires": []
    },
    {
        "id": "b8b080f4.8398c",
        "type": "comment",
        "z": "cc6838a177c7342d",
        "name": "Walker",
        "info": "This wil take time to iterate and\ndump the whole OID table.",
        "x": 748,
        "y": 620,
        "wires": []
    },
    {
        "id": "cfc69548aa83431b",
        "type": "snmp-trap-listener",
        "z": "cc6838a177c7342d",
        "port": 162,
        "snmpV1": true,
        "snmpV2": true,
        "snmpV3": true,
        "communities": [
            {
                "community": "public"
            },
            {
                "community": "private"
            }
        ],
        "users": [],
        "ipfilter": "127.0.0.1",
        "ipmask": "",
        "x": 90,
        "y": 500,
        "wires": [
            [
                "ce17168e71d85eb9"
            ]
        ]
    },
    {
        "id": "ce17168e71d85eb9",
        "type": "debug",
        "z": "cc6838a177c7342d",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 280,
        "y": 500,
        "wires": []
    },
    {
        "id": "ecd2f0e2d835f0de",
        "type": "comment",
        "z": "cc6838a177c7342d",
        "name": "-------------------PRUEBAS----------------------",
        "info": "",
        "x": 300,
        "y": 340,
        "wires": []
    },
    {
        "id": "53bf7ff10e25a1b3",
        "type": "ui_text",
        "z": "cc6838a177c7342d",
        "group": "8880d363.148ac",
        "order": 1,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Descripción del sistema",
        "format": "{{msg.payload[0].value}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 830,
        "y": 100,
        "wires": []
    },
    {
        "id": "2a63c806.ae4db8",
        "type": "mysql",
        "z": "793151554c09c1fc",
        "mydb": "a844720c.608d6",
        "name": "MYSQL",
        "x": 258,
        "y": 269,
        "wires": [
            [
                "3d0af460.41906c",
                "a03b0066.3ff5a"
            ]
        ]
    },
    {
        "id": "86ab4360.50c6c",
        "type": "function",
        "z": "793151554c09c1fc",
        "name": "Criteria",
        "func": "var timeE = msg.payload;\n//Restrict the query to pull the last 24hrs\n//of data instead of the whole db\nmsg.payload = (timeE - (1000*60*60*24));\n    node.status({text:msg.payload});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 75,
        "y": 270,
        "wires": [
            [
                "308dd6b1.2a193a"
            ]
        ]
    },
    {
        "id": "11c8f8a2.d97147",
        "type": "template",
        "z": "793151554c09c1fc",
        "name": "Format query 2",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "SELECT\n CEILING(time/3600000)*3600000 AS timestamp,\n AVG(data1) AS `data1`,\n AVG(data2) AS `data2`\nFROM dbasename\nWHERE time > {{payload}}\nGROUP BY `timestamp`;",
        "output": "str",
        "x": 260,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "3d0af460.41906c",
        "type": "debug",
        "z": "793151554c09c1fc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 461,
        "y": 269,
        "wires": []
    },
    {
        "id": "272494b.eb3d36c",
        "type": "inject",
        "z": "793151554c09c1fc",
        "name": "Timestamp",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 75,
        "y": 220,
        "wires": [
            [
                "86ab4360.50c6c"
            ]
        ]
    },
    {
        "id": "755e08a5.08de88",
        "type": "comment",
        "z": "793151554c09c1fc",
        "name": "Flow to query database and format for chart",
        "info": "",
        "x": 181,
        "y": 170,
        "wires": []
    },
    {
        "id": "433d9ca4.076774",
        "type": "mysql",
        "z": "793151554c09c1fc",
        "mydb": "a844720c.608d6",
        "name": "MYSQL",
        "x": 234,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "d59a31e8.d3772",
        "type": "template",
        "z": "793151554c09c1fc",
        "name": "Format data",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "INSERT INTO `ecent_db` (`data1`,`data2`,`time`) VALUES ({{data1}},{{data2}},{{time}})",
        "output": "str",
        "x": 81,
        "y": 100,
        "wires": [
            [
                "433d9ca4.076774"
            ]
        ]
    },
    {
        "id": "2b71188f.3e2428",
        "type": "comment",
        "z": "793151554c09c1fc",
        "name": "Flow to insert data into the database",
        "info": "",
        "x": 150,
        "y": 50,
        "wires": []
    },
    {
        "id": "308dd6b1.2a193a",
        "type": "template",
        "z": "793151554c09c1fc",
        "name": "Format query 1",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "SELECT data1,data2,time FROM DATOS_SNMP WHERE time > {{payload}}",
        "output": "str",
        "x": 260,
        "y": 219,
        "wires": [
            [
                "2a63c806.ae4db8"
            ]
        ]
    },
    {
        "id": "a03b0066.3ff5a",
        "type": "change",
        "z": "793151554c09c1fc",
        "name": "Format data",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "(\t  $series := [\t    { \"field\": \"data1\", \"label\": \"data1 label\" },\t    { \"field\": \"data2\", \"label\": \"data2 label\" }\t  ];\t  $xaxis := \"timestamp\";\t  [\t    {\t      \"series\": $series.label,\t      \"data\": $series.[\t        (\t          $yaxis := $.field;\t          $$.payload.{\t            \"x\": $lookup($, $xaxis),\t            \"y\": $lookup($, $yaxis)\t          }\t        )\t      ]\t    }\t  ]\t)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 464,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "b2b09f39.2ac5d",
        "type": "inject",
        "z": "793151554c09c1fc",
        "name": "Go",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 70,
        "y": 440,
        "wires": [
            [
                "9b2cfd89.80b03"
            ]
        ]
    },
    {
        "id": "9b2cfd89.80b03",
        "type": "function",
        "z": "793151554c09c1fc",
        "name": "INSERT Data",
        "func": "msg.topic = \"INSERT INTO ?? (??) VALUES (?)\";\nmsg.payload = [\"Department\",\"Department_name\",\"test\"];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 440,
        "wires": [
            [
                "7a16f614d76cfe5b"
            ]
        ]
    },
    {
        "id": "cbf82508.506aa8",
        "type": "debug",
        "z": "793151554c09c1fc",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 710,
        "y": 520,
        "wires": []
    },
    {
        "id": "e4a98c17.08f2d",
        "type": "inject",
        "z": "793151554c09c1fc",
        "name": "Go",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 70,
        "y": 500,
        "wires": [
            [
                "5addf67b.173138"
            ]
        ]
    },
    {
        "id": "5addf67b.173138",
        "type": "function",
        "z": "793151554c09c1fc",
        "name": "Update Data",
        "func": "msg.topic = \"Update Department Set Department_name = ? where Department_id=?\";\nmsg.payload=['Logistics Managers','3']\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 500,
        "wires": [
            [
                "4d7282eb.906e7c"
            ]
        ]
    },
    {
        "id": "e4201ad4.996998",
        "type": "inject",
        "z": "793151554c09c1fc",
        "name": "Go",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "warehouse",
        "payloadType": "str",
        "x": 70,
        "y": 680,
        "wires": [
            [
                "be458293.0fb91"
            ]
        ]
    },
    {
        "id": "be458293.0fb91",
        "type": "function",
        "z": "793151554c09c1fc",
        "name": "SELECT Data",
        "func": "msg.topic = \"SELECT * FROM department WHERE department_name LIKE '%\" + msg.payload + \"%'\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 680,
        "wires": [
            [
                "4d7282eb.906e7c"
            ]
        ]
    },
    {
        "id": "9c203b7a.d31738",
        "type": "inject",
        "z": "793151554c09c1fc",
        "name": "INSERT Bind - via JSON",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "INSERT INTO test (id,text) VALUES (?, ?)",
        "payload": "[4, \"This is a funny world's end\"]",
        "payloadType": "str",
        "x": 130,
        "y": 560,
        "wires": [
            [
                "404656b9.7048b8"
            ]
        ]
    },
    {
        "id": "404656b9.7048b8",
        "type": "json",
        "z": "793151554c09c1fc",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 310,
        "y": 560,
        "wires": [
            [
                "4d7282eb.906e7c"
            ]
        ]
    },
    {
        "id": "421f97c2.5607f8",
        "type": "inject",
        "z": "793151554c09c1fc",
        "name": "Go \"Warehouse\"",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "%Warehouse%",
        "payloadType": "str",
        "x": 100,
        "y": 740,
        "wires": [
            [
                "778ca316.16ea8c"
            ]
        ]
    },
    {
        "id": "778ca316.16ea8c",
        "type": "function",
        "z": "793151554c09c1fc",
        "name": "SELECT Data",
        "func": "msg.topic = \"SELECT * FROM Department WHERE Department_Name LIKE ?\";\nmsg.payload = [msg.payload];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 760,
        "wires": [
            [
                "4d7282eb.906e7c"
            ]
        ]
    },
    {
        "id": "632ef9df.2db478",
        "type": "inject",
        "z": "793151554c09c1fc",
        "name": "Go \"MAnagers\"",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "%Managers%",
        "payloadType": "str",
        "x": 100,
        "y": 780,
        "wires": [
            [
                "778ca316.16ea8c"
            ]
        ]
    },
    {
        "id": "4d7282eb.906e7c",
        "type": "mysql",
        "z": "793151554c09c1fc",
        "mydb": "a844720c.608d6",
        "name": "",
        "x": 550,
        "y": 520,
        "wires": [
            [
                "cbf82508.506aa8"
            ]
        ]
    },
    {
        "id": "88f58b45.552b48",
        "type": "function",
        "z": "793151554c09c1fc",
        "name": "Delete Bind",
        "func": "msg.topic = \"Delete From department where Department_id = ?\";\nmsg.payload = [ \"6\"];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 620,
        "wires": [
            [
                "4d7282eb.906e7c"
            ]
        ]
    },
    {
        "id": "8be8aa44.6b7868",
        "type": "inject",
        "z": "793151554c09c1fc",
        "name": "Go",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 70,
        "y": 620,
        "wires": [
            [
                "88f58b45.552b48"
            ]
        ]
    },
    {
        "id": "a2cac161.b5ebf",
        "type": "function",
        "z": "793151554c09c1fc",
        "name": "INSERT Data",
        "func": "msg.topic = \"INSERT INTO department (department_name) VALUES (?)\";\nmsg.payload = [ \"test\"];\nreturn msg;\n\nmsg.topic = \"INSERT INTO ?? (??) VALUES (?)\";\nmsg.payload = [\"Department\",\"Department_name\",\"test\"];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 380,
        "wires": [
            [
                "4d7282eb.906e7c"
            ]
        ]
    },
    {
        "id": "cabc5ca6.c3e37",
        "type": "inject",
        "z": "793151554c09c1fc",
        "name": "Go",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 70,
        "y": 380,
        "wires": [
            [
                "a2cac161.b5ebf"
            ]
        ]
    },
    {
        "id": "b6c8fb60d8443dae",
        "type": "mysql",
        "z": "793151554c09c1fc",
        "mydb": "a844720c.608d6",
        "name": "Gestión de Base de datos ecent",
        "x": 850,
        "y": 900,
        "wires": [
            [
                "0315f2096d009ec8",
                "1fa265f990932f1e"
            ]
        ]
    },
    {
        "id": "e346a0199e82a4d3",
        "type": "function",
        "z": "793151554c09c1fc",
        "name": "CREAR TABLA \"USUARIOS\" EN LA BASE DE DATOS ecent_db",
        "func": "msg.topic = \"CREATE TABLE USUARIOS(USER_ID int NOT NULL AUTO_INCREMENT, NAME VARCHAR(255), EMAIL VARCHAR(255), PASSWORD VARBINARY(8000), LEVEL VARCHAR(255), PRIMARY KEY (USER_ID))\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 900,
        "wires": [
            [
                "b6c8fb60d8443dae"
            ]
        ]
    },
    {
        "id": "0315f2096d009ec8",
        "type": "debug",
        "z": "793151554c09c1fc",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1140,
        "y": 900,
        "wires": []
    },
    {
        "id": "c6137a378f6cbd31",
        "type": "inject",
        "z": "793151554c09c1fc",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 80,
        "y": 900,
        "wires": [
            [
                "e346a0199e82a4d3"
            ]
        ]
    },
    {
        "id": "86605c0af76f067c",
        "type": "comment",
        "z": "793151554c09c1fc",
        "name": "--------LOGICA PARA CREACIÓN DE TABLAS GENERALES--------",
        "info": "",
        "x": 420,
        "y": 860,
        "wires": []
    },
    {
        "id": "92d22adee49f01cd",
        "type": "function",
        "z": "793151554c09c1fc",
        "name": "NORMBRE DEL EQUIPO",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 1440,
        "wires": [
            []
        ]
    },
    {
        "id": "0a6ba25f2dd487e2",
        "type": "function",
        "z": "793151554c09c1fc",
        "name": "DIRECCIÓN IP DE EQUIPO",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 1480,
        "wires": [
            []
        ]
    },
    {
        "id": "567edfc04245aceb",
        "type": "function",
        "z": "793151554c09c1fc",
        "name": "TIPO DE DATO DEL EQUIPO",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 1680,
        "wires": [
            []
        ]
    },
    {
        "id": "bbda29c35c370214",
        "type": "function",
        "z": "793151554c09c1fc",
        "name": "OID CONSULTADO ",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 1560,
        "wires": [
            []
        ]
    },
    {
        "id": "4f670719d02a1151",
        "type": "comment",
        "z": "793151554c09c1fc",
        "name": "CONSULTA DE DATOS BASICOS DEL EQUIPO",
        "info": "",
        "x": 480,
        "y": 1400,
        "wires": []
    },
    {
        "id": "7e90da3029a9a476",
        "type": "comment",
        "z": "793151554c09c1fc",
        "name": "CONSULTA DE DATOS ESPECIFICOS POR QUIPOS",
        "info": "",
        "x": 460,
        "y": 1520,
        "wires": []
    },
    {
        "id": "d7d125e720629a9c",
        "type": "function",
        "z": "793151554c09c1fc",
        "name": "VALOR CONSULTADO",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 1600,
        "wires": [
            []
        ]
    },
    {
        "id": "eef0835d784fb808",
        "type": "function",
        "z": "793151554c09c1fc",
        "name": "UNIDAD DEL VALOR CONSULTADO",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 1640,
        "wires": [
            []
        ],
        "info": "VOLTAJE = V\r\nAMPERIOS = A\r\nTIEMPO = T\r\nPOTENCIA = W\r\nNO APLICA = N/A\r\n"
    },
    {
        "id": "b59d7a124292679e",
        "type": "function",
        "z": "793151554c09c1fc",
        "name": "CREAR TABLA \"DISPOSITIVOS\" EN LA BASE DE DATOS ecent_db",
        "func": "msg.topic = \"CREATE TABLE DISPOSITIVOS(DEVICE_ID int NOT NULL AUTO_INCREMENT, NOMBRE VARCHAR(255), SERIAL VARCHAR(255), PROTOCOL int NOT NULL, PRIMARY KEY (DEVICE_ID), USER_ID int NOT NULL, FOREIGN KEY (USER_ID) REFERENCES USUARIOS(USER_ID))\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 940,
        "wires": [
            [
                "b6c8fb60d8443dae"
            ]
        ]
    },
    {
        "id": "5f2451ad6b842b3e",
        "type": "function",
        "z": "793151554c09c1fc",
        "name": "CREAR TABLA \"SNMP_CONFIG\" EN LA BASE DE DATOS ecent_db",
        "func": "msg.topic = \"CREATE TABLE SNMP_CONFIG(SNMP_CONFIG_ID int NOT NULL AUTO_INCREMENT, PRIMARY KEY (SNMP_CONFIG_ID), IP VARCHAR(255), PORT VARCHAR(255), READ_COM VARCHAR(255), WRITE_COM VARCHAR(255), SNMP_VERSION VARCHAR(255), DEVICE_ID int NOT NULL, FOREIGN KEY (DEVICE_ID) REFERENCES DISPOSITIVOS(DEVICE_ID))\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 1020,
        "wires": [
            [
                "b6c8fb60d8443dae"
            ]
        ]
    },
    {
        "id": "09fee58cf7c482de",
        "type": "function",
        "z": "793151554c09c1fc",
        "name": "CREAR TABLA \"SNMP_RULES\" EN LA BASE DE DATOS ecent_db",
        "func": "msg.topic = \"CREATE TABLE SNMP_RULES(SNMP_CONFIG_ID int NOT NULL, FOREIGN KEY (SNMP_CONFIG_ID) REFERENCES SNMP_CONFIG(SNMP_CONFIG_ID), OID VARCHAR(255), OPERATION VARCHAR(255), PRIMARY KEY (OID))\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 1060,
        "wires": [
            [
                "b6c8fb60d8443dae"
            ]
        ]
    },
    {
        "id": "8bc517f0b87a440e",
        "type": "function",
        "z": "793151554c09c1fc",
        "name": "CREAR TABLA \"DATOS_SNMP\" EN LA BASE DE DATOS ecent_db",
        "func": "msg.topic = \"CREATE TABLE DATOS_SNMP(OID VARCHAR(255), FOREIGN KEY (OID) REFERENCES SNMP_RULES(OID), VALUE VARCHAR(255), UNITY VARCHAR(255))\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 1100,
        "wires": [
            [
                "b6c8fb60d8443dae"
            ]
        ]
    },
    {
        "id": "485779787c5df8f9",
        "type": "inject",
        "z": "793151554c09c1fc",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 80,
        "y": 940,
        "wires": [
            [
                "b59d7a124292679e"
            ]
        ]
    },
    {
        "id": "f707e6c89d2b59f7",
        "type": "inject",
        "z": "793151554c09c1fc",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 80,
        "y": 1020,
        "wires": [
            [
                "5f2451ad6b842b3e"
            ]
        ]
    },
    {
        "id": "97aa032e31af9c3f",
        "type": "inject",
        "z": "793151554c09c1fc",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 80,
        "y": 1060,
        "wires": [
            [
                "09fee58cf7c482de"
            ]
        ]
    },
    {
        "id": "6dbe25d2362381ed",
        "type": "inject",
        "z": "793151554c09c1fc",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 80,
        "y": 1100,
        "wires": [
            [
                "8bc517f0b87a440e"
            ]
        ]
    },
    {
        "id": "c9c130a872ce1901",
        "type": "comment",
        "z": "793151554c09c1fc",
        "name": "--------LOGICA PARA CREACIÓN DE TABLAS SNMP--------",
        "info": "",
        "x": 450,
        "y": 980,
        "wires": []
    },
    {
        "id": "a2f5d7ce9313fafa",
        "type": "comment",
        "z": "793151554c09c1fc",
        "name": "LOGICA DE CRUD PARA TABLA DE USUARIOS",
        "info": "",
        "x": 480,
        "y": 1140,
        "wires": []
    },
    {
        "id": "8823ab04a259b959",
        "type": "function",
        "z": "793151554c09c1fc",
        "name": "CREATE_usuarios",
        "func": "msg.topic = \"INSERT INTO USUARIOS (NAME, EMAIL, PASSWORD, LEVEL) VALUES (?, ?, ?, ?)\";\nmsg.payload = [msg.payload.Nombre, msg.payload.Correo, msg.payload[\"Contraseña\"], msg.payload.Nivel]\n//msg.topic = \"INSERT INTO department (department_name) VALUES (?)\";\n//msg.payload = [\"test\"];\nreturn msg;\n\n//msg.topic = \"INSERT INTO ?? (??) VALUES (?)\";\n//msg.payload = [\"Department\", \"Department_name\", \"test\"];\n//return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 1180,
        "wires": [
            [
                "b6c8fb60d8443dae"
            ]
        ]
    },
    {
        "id": "3b72ce3cbff40b8a",
        "type": "function",
        "z": "793151554c09c1fc",
        "name": "update-query",
        "func": "msg.topic=\"UPDATE test SET name='\" + msg.payload.name + \"', lastname='\" + msg.payload.lastname + \"', code='\" + msg.payload.code + \"', married='\" + msg.payload.married + \"' WHERE id='\" + msg.payload.id + \"'\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 1280,
        "wires": [
            [
                "7fc6af220ce43bee"
            ]
        ]
    },
    {
        "id": "7fc6af220ce43bee",
        "type": "debug",
        "z": "793151554c09c1fc",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 1280,
        "wires": []
    },
    {
        "id": "10c6f08419ab55ec",
        "type": "link in",
        "z": "793151554c09c1fc",
        "name": "link in 1",
        "links": [
            "41b2e8f18f570413"
        ],
        "x": 445,
        "y": 1180,
        "wires": [
            [
                "8823ab04a259b959"
            ]
        ]
    },
    {
        "id": "7a16f614d76cfe5b",
        "type": "debug",
        "z": "793151554c09c1fc",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 440,
        "wires": []
    },
    {
        "id": "db616c71c06414fc",
        "type": "function",
        "z": "793151554c09c1fc",
        "name": "update-query",
        "func": "msg.topic = \"SELECT * FROM USUARIOS\";\nmsg.payload = [msg.payload];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 1220,
        "wires": [
            [
                "b6c8fb60d8443dae"
            ]
        ]
    },
    {
        "id": "851b65379a8cd239",
        "type": "link in",
        "z": "793151554c09c1fc",
        "name": "link in 2",
        "links": [
            "60ba0f0d175f2ffb"
        ],
        "x": 445,
        "y": 1220,
        "wires": [
            [
                "db616c71c06414fc"
            ]
        ]
    },
    {
        "id": "9dc53273677c80cc",
        "type": "inject",
        "z": "793151554c09c1fc",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 400,
        "y": 1260,
        "wires": [
            [
                "db616c71c06414fc"
            ]
        ]
    },
    {
        "id": "e9eb0e576758ac24",
        "type": "link out",
        "z": "793151554c09c1fc",
        "name": "DB_RESPONSE",
        "mode": "link",
        "links": [
            "9ecdfa57ae45f938"
        ],
        "x": 1285,
        "y": 1020,
        "wires": []
    },
    {
        "id": "1fa265f990932f1e",
        "type": "function",
        "z": "793151554c09c1fc",
        "name": "tratamiendo de datos de tabla",
        "func": "var msg= msg.payload;\n//let datosSinPassword = datos.map(({ PASSWORD, ...rest }) => rest);\n//return datosSinPassword;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1210,
        "y": 940,
        "wires": [
            [
                "0cdb90d7e3bc3daa"
            ]
        ]
    },
    {
        "id": "0cdb90d7e3bc3daa",
        "type": "debug",
        "z": "793151554c09c1fc",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1420,
        "y": 940,
        "wires": []
    },
    {
        "id": "c2d1f4ccf0c9b1aa",
        "type": "comment",
        "z": "3a08c4b74583061b",
        "name": "tabla para gestion de usuarios",
        "info": "",
        "x": 320,
        "y": 20,
        "wires": []
    },
    {
        "id": "f532e9f3d4e81caa",
        "type": "ui_form",
        "z": "3a08c4b74583061b",
        "name": "datos_usuarios",
        "label": "Crear Usuarios",
        "group": "ae2ca8465afadc66",
        "order": 1,
        "width": "0",
        "height": "0",
        "options": [
            {
                "label": "Nombre",
                "value": "Nombre",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Correo",
                "value": "Correo",
                "type": "email",
                "required": true,
                "rows": null
            },
            {
                "label": "Contraseña",
                "value": "Contraseña",
                "type": "password",
                "required": true,
                "rows": null
            },
            {
                "label": "Acceso admin",
                "value": "Nivel",
                "type": "switch",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "Nombre": "",
            "Correo": "",
            "Contraseña": "",
            "Nivel": false
        },
        "payload": "",
        "submit": "ENVIAR",
        "cancel": "CANCELAR",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": false,
        "className": "",
        "x": 220,
        "y": 120,
        "wires": [
            [
                "bff1125ecc8557e0",
                "41b2e8f18f570413",
                "23b26f9b2a061f7f"
            ]
        ]
    },
    {
        "id": "bff1125ecc8557e0",
        "type": "debug",
        "z": "3a08c4b74583061b",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 120,
        "wires": []
    },
    {
        "id": "ed02e587befc96c7",
        "type": "comment",
        "z": "3a08c4b74583061b",
        "name": "tabla para gestion de dispositivos",
        "info": "",
        "x": 190,
        "y": 760,
        "wires": []
    },
    {
        "id": "97317cc0dce5c19a",
        "type": "ui_form",
        "z": "3a08c4b74583061b",
        "name": "",
        "label": "Agregar dispositivos",
        "group": "edcf9a7bf066cd27",
        "order": 2,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "ID",
                "value": "DEVICE_ID",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "NAME",
                "value": "NOMBRE",
                "type": "email",
                "required": true,
                "rows": null
            },
            {
                "label": "SERIAL",
                "value": "SERIAL",
                "type": "password",
                "required": true,
                "rows": null
            },
            {
                "label": "ID_USER",
                "value": "ID USUARIO",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "DEVICE_ID": "",
            "NOMBRE": "",
            "SERIAL": "",
            "ID USUARIO": ""
        },
        "payload": "",
        "submit": "ENVIAR",
        "cancel": "CANCELAR",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": false,
        "className": "",
        "x": 100,
        "y": 860,
        "wires": [
            [
                "74bb564475ef001f",
                "53f5b3b6b2c7d4d8"
            ]
        ]
    },
    {
        "id": "74bb564475ef001f",
        "type": "debug",
        "z": "3a08c4b74583061b",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 290,
        "y": 820,
        "wires": []
    },
    {
        "id": "53f5b3b6b2c7d4d8",
        "type": "ui_table",
        "z": "3a08c4b74583061b",
        "group": "edcf9a7bf066cd27",
        "name": "DISPOSITIVOS",
        "order": 1,
        "width": 0,
        "height": 0,
        "columns": [
            {
                "field": "ID",
                "title": "ID",
                "width": "",
                "align": "center",
                "formatter": "rownum",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "NAME",
                "title": "NOMBRE",
                "width": "",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "EMAIL",
                "title": "CORREO",
                "width": "",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "PASSWORD",
                "title": "CONTRASEÑA",
                "width": "",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "LEVEL",
                "title": "ADMINISTRADOR",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 0,
        "cts": false,
        "x": 300,
        "y": 860,
        "wires": []
    },
    {
        "id": "a1c72886b7b7e46b",
        "type": "ui_button",
        "z": "3a08c4b74583061b",
        "name": "",
        "group": "30b0fec615e802a3",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "ENVIAR",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 940,
        "y": 800,
        "wires": [
            [
                "13ea76ebbebd3bd1"
            ]
        ]
    },
    {
        "id": "7edaca1f92bd7490",
        "type": "ui_dropdown",
        "z": "3a08c4b74583061b",
        "name": "",
        "label": "PROTOCOLO",
        "tooltip": "",
        "place": "Select option",
        "group": "30b0fec615e802a3",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "SNMP",
                "value": "1",
                "type": "str"
            },
            {
                "label": "MODBUS TCP",
                "value": "2",
                "type": "str"
            },
            {
                "label": "MQTT",
                "value": "3",
                "type": "str"
            },
            {
                "label": "DNP3",
                "value": "4",
                "type": "str"
            },
            {
                "label": "PROFIBUS",
                "value": "5",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic.protocol",
        "topicType": "msg",
        "className": "",
        "x": 700,
        "y": 960,
        "wires": [
            [
                "a1c72886b7b7e46b"
            ]
        ]
    },
    {
        "id": "c03efa17c957158e",
        "type": "ui_text_input",
        "z": "3a08c4b74583061b",
        "name": "",
        "label": "DEVICE_ID",
        "tooltip": "",
        "group": "8880d363.148ac",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "number",
        "delay": 300,
        "topic": "topic.id",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 690,
        "y": 800,
        "wires": [
            [
                "a1c72886b7b7e46b"
            ]
        ]
    },
    {
        "id": "24d24ad40772d240",
        "type": "ui_text_input",
        "z": "3a08c4b74583061b",
        "name": "",
        "label": "NOMBRE DE DISPOSITIVO",
        "tooltip": "",
        "group": "30b0fec615e802a3",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "text",
        "delay": 300,
        "topic": "topic.name",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 740,
        "y": 840,
        "wires": [
            [
                "a1c72886b7b7e46b"
            ]
        ]
    },
    {
        "id": "0e3a082076cd4923",
        "type": "ui_text_input",
        "z": "3a08c4b74583061b",
        "name": "",
        "label": "SERIAL",
        "tooltip": "",
        "group": "30b0fec615e802a3",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "text",
        "delay": 300,
        "topic": "topic.serial",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 680,
        "y": 920,
        "wires": [
            [
                "a1c72886b7b7e46b"
            ]
        ]
    },
    {
        "id": "13ea76ebbebd3bd1",
        "type": "debug",
        "z": "3a08c4b74583061b",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1100,
        "y": 800,
        "wires": []
    },
    {
        "id": "debf9f2c4a7255e7",
        "type": "ui_text_input",
        "z": "3a08c4b74583061b",
        "name": "",
        "label": "NUMERO DE DISPOSITIVO",
        "tooltip": "",
        "group": "30b0fec615e802a3",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "text",
        "delay": 300,
        "topic": "topic.device",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 740,
        "y": 880,
        "wires": [
            [
                "a1c72886b7b7e46b"
            ]
        ]
    },
    {
        "id": "e7b413ad9679c278",
        "type": "ui_template",
        "z": "3a08c4b74583061b",
        "group": "fae35d82aba33488",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<!--<div ng-bind-html=\"msg.payload\"></div>-->\n<script>\n    // Función para manejar el formulario de inicio de sesión\nfunction loginUser() {\n    var username = document.getElementById('username').value;\n    var password = document.getElementById('password').value;\n\n    // Aquí deberías realizar la lógica de autenticación, por ejemplo, verificar en una base de datos\n\n    // En este ejemplo, simplemente redireccionamos al usuario a una página después de iniciar sesión\n    window.location.href = \"/dashboard\"; // Cambia \"/dashboard\" con la ruta deseada después del inicio de sesión exitoso\n}\n\n// Función para manejar el formulario de registro de nuevos usuarios\nfunction registerUser() {\n    var newUsername = document.getElementById('newUsername').value;\n    var newPassword = document.getElementById('newPassword').value;\n\n    // Aquí deberías realizar la lógica para registrar un nuevo usuario, por ejemplo, agregarlo a una base de datos\n\n    // En este ejemplo, simplemente mostramos un mensaje después de registrar al nuevo usuario\n    alert(\"Usuario registrado con éxito. Puedes iniciar sesión ahora.\");\n}\n</script>\n\n<h2>Iniciar Sesión</h2>\n<form ng-submit=\"loginUser()\">\n    <label for=\"username\">Usuario:</label>\n    <input type=\"text\" id=\"username\" required>\n    <br>\n    <label for=\"password\">Contraseña:</label>\n    <input type=\"password\" id=\"password\" required>\n    <br>\n    <button type=\"submit\">Iniciar Sesión</button>\n</form>\n\n<h2>Crear Nuevo Usuario</h2>\n<form ng-submit=\"registerUser()\">\n    <label for=\"newUsername\">Nuevo Usuario:</label>\n    <input type=\"text\" id=\"newUsername\" required>\n    <br>\n    <label for=\"newPassword\">Nueva Contraseña:</label>\n    <input type=\"password\" id=\"newPassword\" required>\n    <br>\n    <button type=\"submit\">Registrarse</button>\n</form>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "material",
        "x": 360,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "b523b5138187c910",
        "type": "comment",
        "z": "3a08c4b74583061b",
        "name": "PLANTILLA DE LOGIN",
        "info": "",
        "x": 300,
        "y": 260,
        "wires": []
    },
    {
        "id": "23b26f9b2a061f7f",
        "type": "ui_button",
        "z": "3a08c4b74583061b",
        "name": "",
        "group": "f5593a50b71e940e",
        "order": 2,
        "width": "0",
        "height": "0",
        "passthru": false,
        "label": "ACTUALIZAR TABLA",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 240,
        "y": 160,
        "wires": [
            [
                "60ba0f0d175f2ffb"
            ]
        ]
    },
    {
        "id": "60ba0f0d175f2ffb",
        "type": "link out",
        "z": "3a08c4b74583061b",
        "name": "ACTUALIZAR_TABLA",
        "mode": "link",
        "links": [
            "851b65379a8cd239"
        ],
        "x": 375,
        "y": 160,
        "wires": []
    },
    {
        "id": "f65ca8d80dde4d03",
        "type": "comment",
        "z": "3a08c4b74583061b",
        "name": "",
        "info": "",
        "x": 480,
        "y": 260,
        "wires": []
    },
    {
        "id": "41b2e8f18f570413",
        "type": "link out",
        "z": "3a08c4b74583061b",
        "name": "DATOS_TABLA",
        "mode": "link",
        "links": [
            "10c6f08419ab55ec"
        ],
        "x": 335,
        "y": 120,
        "wires": []
    },
    {
        "id": "10b086019450ccf5",
        "type": "ui_table",
        "z": "3a08c4b74583061b",
        "group": "f5593a50b71e940e",
        "name": "Tabla de Usuarios",
        "order": 1,
        "width": "0",
        "height": "0",
        "columns": [],
        "outputs": 0,
        "cts": false,
        "x": 330,
        "y": 200,
        "wires": []
    },
    {
        "id": "9ecdfa57ae45f938",
        "type": "link in",
        "z": "3a08c4b74583061b",
        "name": "link in 3",
        "links": [
            "e9eb0e576758ac24"
        ],
        "x": 215,
        "y": 200,
        "wires": [
            [
                "10b086019450ccf5"
            ]
        ]
    }
]